<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head"></head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <nav th:replace="fragments/navbar :: sidebar2"></nav>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <nav th:replace="fragments/navbar :: navbar2"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Αναφορές</h1>
                </div>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
                            <div class="btn-group" role="group"
                                 aria-label="report actions" style="float: right">
                                <button type="button" class="btn btn-info" disabled
                                        id="downloadButton">
                                    <span class="icon"><i class="fas fa-file-export"></i></span>
                                    <span class="text">Αναφορά</span>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" disabled data-toggle="modal"
                                        data-target='#modal-delete-report' id="deleteButton">
                                    <span class="icon"><i class="fas fa-trash"></i></span>
                                    <span class="text">Διαγραφή</span>
                                </button>
                            </div>
                        </h6>
                    </div>
                    <div th:replace="fragments/modals :: modal-delete-report('modal-delete-report')"></div>
                    <div class="card-body">
                        <table id="dataTable2" class="table">
                            <thead>
                            <tr>
                                <th>Α/Α</th>
                                <th>Θέση Αρχείων</th>
                                <th>Φάκελος</th>
                                <th>Θέση Αναφοράς</th>
                                <th>Ημερομηνία Έναρξης</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="fragments/base :: footer"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<th:block th:replace="fragments/base :: script"></th:block>

<script th:inline="javascript">
    /*<![CDATA[*/
    const reports_url = [[${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).API_REPORTS}]];
    const report_download_url = [[${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).API_REPORT_DOWNLOAD}]];
    /*]]>*/

    window.onload = function () {
        connect();
    };
    $(document).ready(function () {
        $('table#dataTable2').DataTable({
            'ajax': reports_url,
            serverSide: true,
            responsive: true,
            language: {
                url: '//cdn.datatables.net/plug-ins/1.11.5/i18n/el.json'
            },
            columns: [{
                data: 'id'
            }, {
                data: 'filesLocation'
            }, {
                data: 'path'
            }, {
                data: 'reportLocation'
            }, {
                data: 'date',
                render: $.fn.dataTable.render.moment("YYYY-MM-DDTHH:mm:ss.SSSSZ", 'DD/MM/YYYY HH:mm')
            }],
            order: [4, "desc"]
        });

        $('#dataTable2 tbody').on('click', 'tr', function () {
            $('#dataTable2 tbody tr').removeClass('selected');
            $(this).toggleClass('selected');
            $('#downloadButton').prop("disabled", false);
            $('#deleteButton').prop("disabled", false);
            $("#deleteReportId").text($($('#dataTable2 tbody tr.selected td')[0]).text());
            $("#deleteReportName").text($($('#dataTable2 tbody tr.selected td')[2]).text());
            $("#deleteReportDirectory").text($($('#dataTable2 tbody tr.selected td')[1]).text());
            $("#deleteReportDate").text($($('#dataTable2 tbody tr.selected td')[4]).text());
        });

        $('#downloadButton').click(function () {
            let reportId = $($('#dataTable2 tbody tr.selected td')[0]).text();
            window.location = report_download_url.replace("{reportId}", reportId);
        });
    });
</script>
</body>
</html>
