<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head"></head>
<body>

<!-- Page Wrapper -->
<div id="wrapper">

    <nav th:replace="fragments/navbar :: sidebar2"></nav>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <nav th:replace="fragments/navbar :: navbar2"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Φάκελος: <span id="directory" th:text="${imageDir}"></span></h1>

                    <div class="btn-group" role="group" aria-label="report actions">
                        <button type="button"
                                data-toggle="modal" th:attr="data-target='#modal-run-'+${imageDirectoryHash}"
                                class="d-none d-sm-inline-block btn btn-sm btn-primary  shadow-sm">
                            <span class="icon"><i class="fas fa-search fa-sm text-white-50"></i></span>
                            <span class="text">Έλεγχος Φακέλου</span>
                        </button>

                        <button type="button"
                                data-toggle="modal" th:attr="data-target='#modal-clean-'+${imageDirectoryHash}"
                                class="d-none d-sm-inline-block btn btn-sm btn-danger  shadow-sm">
                            <span class="icon"><i class="fas fa-eraser fa-sm text-white-50"></i></span>
                            <span class="text">Διαγραφή Αποτελεσμάτων</span>
                        </button>

                        <!--                        <a th:href="'download?name='+${imageDir}"-->
                        <!--                           class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm  disabled">-->
                        <!--                            <span class="icon"><i class="fas fa-file-export fa-sm text-white-50"></i></span>-->
                        <!--                            <span class="text">Αναφορά</span>-->
                        <!--                        </a>-->
                    </div>
                    <div th:replace="fragments/modals :: modal-run"></div>
                    <div th:replace="fragments/modals :: modal-clean"></div>
                </div>

                <!-- Content Row -->
                <div class="row">
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-12 col-md-12 mb-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Εικόνα</h6>
                                <div class="col-auto">
                                    <div class="btn-group" role="group" aria-label="image actions">
                                        <a id="image-download-button" target="_blank"
                                           class="btn btn-info ">
                                            <span class="icon"><i class="fas fa-file-download"></i></span>
                                            <span class="text">Λήψη Εικόνας</span>
                                        </a>
                                        <!--                                            <a class="btn btn-info  disabled">-->
                                        <!--                                                <span class="icon"><i class="fas fa-file-export"></i></span>-->
                                        <!--                                                <span class="text">Αναφορά</span>-->
                                        <!--                                            </a>-->
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col mr-2">
                                    <select id="imagelist" class="custom-select col-md-12"
                                            onchange="reloadFile()">
                                        <option th:each="image : ${images}"
                                                th:text="${image.name}" th:title="${image.name}"
                                                th:value="${image.hash}">
                                            image
                                        </option>
                                    </select>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <!-- Content Row -->
                <div class="row">
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-9 col-md-8 mb-8">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Αποτελέσματα Ελέγχων</h6>
                            </div>
                            <div class="card-body">
                                <div id="imageResultsBody">
                                    <div class="media test-result" th:each="test : ${tests}"
                                         th:classappend="'test-result-'+${test.id}">
                                        <img th:src="@{/img/t1.png}" class="mr-3 result-value-true"
                                             alt="..."
                                             style="width: 50px">
                                        <img th:src="@{/img/f1.png}" class="mr-3 result-value-false"
                                             alt="..."
                                             style="width: 50px">
                                        <div class="media-body">
                                            <h4 class="mt-0">
                                                <span th:text="${test.name}">Έλεγχος</span>
                                                <span class="result-value-true">Σωστό</span>
                                                <span class="result-value-false">Λάθος</span>
                                            </h4>
                                            <p class="test-result-note">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 mb-4 text-center">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Μικρογραφία</h6>
                                <div class="col-auto">
                                    <div class="btn-group" role="group" aria-label="image actions">
                                        <!--                                            <a class="btn btn-info  disabled">-->
                                        <!--                                                <span class="icon"><i class="fas fa-file-export"></i></span>-->
                                        <!--                                                <span class="text">Αναφορά</span>-->
                                        <!--                                            </a>-->
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <img src="" id="thmb"
                                     style="width: 100%;  border: 1px solid grey;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/base :: script"></th:block>

            <script th:inline="javascript">
                /*<![CDATA[*/
                const image_download_url = [[${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).API_IMAGE_DIRECTORY_IMAGE_DOWNLOAD}]];
                const image_url = [[${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).API_IMAGE_DIRECTORY_IMAGE}]];
                const thumbnail_url = [[${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).API_THUMBNAIL_DIRECTORY_IMAGE}]];
                const imageDirectoryHash = /*[[${imageDirectoryHash}]]*/ '';

                /*]]>*/
                function reloadFile() {
                    $('#image-download-button').attr('href', image_download_url.replace("{imageDirectoryHash}", imageDirectoryHash).replace("{imageHash}", $("#imagelist").val()));
                    $("#thmb").attr("src", "/img/loading.gif");
                    $.get(image_url.replace("{imageDirectoryHash}", imageDirectoryHash).replace("{imageHash}", $("#imagelist").val()), function (data) {
                        console.log(data)
                        $("#imageResultsBody .test-result").hide();
                        data.forEach(function (datum) {
                            $("#imageResultsBody .test-result-" + datum.task).show();
                            $("#imageName").text(`${datum.name}`);
                            if (datum.result) {
                                $("#imageResultsBody .test-result-" + datum.task).find(".result-value-false").hide();
                                $("#imageResultsBody .test-result-" + datum.task).find(".result-value-true").show();
                            } else {
                                $("#imageResultsBody .test-result-" + datum.task).find(".result-value-true").hide();
                                $("#imageResultsBody .test-result-" + datum.task).find(".result-value-false").show();
                            }
                            $("#imageResultsBody .test-result-" + datum.task).find(".test-result-note").text(datum.note);

                            $("#thmb").attr("src", thumbnail_url.replace("{imageDirectoryHash}", imageDirectoryHash).replace("{imageHash}", $("#imagelist").val()));
                        });
                    });
                }

                $(document).ready(function () {
                    connect();
                    reloadFile();
                    // $('.selectpicker').selectpicker();
                    // $('.selectpicker').on('changed.bs.select', function (e, clickedIndex, newValue, oldValue) {
                    //     reloadFile();
                    // });
                    // $('.selectpicker').trigger('change');
                });
            </script>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="fragments/base :: footer"></div>

    </div>
</div>
<th:block th:replace="fragments/base :: script"></th:block>

</body>
</html>
