<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head"></head>
<body>

<!-- Page Wrapper -->
<div id="wrapper">

    <nav th:replace="fragments/navbar :: sidebar2"></nav>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <nav th:replace="fragments/navbar :: navbar2"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">
                        Φάκελος: <span id="directory" th:text="${imageDir}"></span>
                        <div class="btn-group" role="group" aria-label="report actions">

                        </div>
                    </h1>
                    <div class="btn-group" role="group" aria-label="report actions">
                        <a type="button" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
                            <span class="icon"><i class="fas fa-images"></i></span>
                            <span class="text" th:text="${#lists.size(images)}">&nbsp;</span>
                            <span class="text">Ορθοφωτοχάρτες</span>
                        </a>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-dark dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-expanded="false">
                                <span class="icon"><i class="fas fa-check-double text-white-50"></i></span>
                                <span class="text" th:text="${checkRate}+'% ελέγχθηκαν'"></span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" style="cursor: pointer">
                                    <span class="icon"><i class="fas fa-search text-gray-50"></i></span>
                                    <span class="text"
                                          th:text="${checksPerformed}+' από '+${checksTotal}+' ελέγχους'"></span>
                                </a>
                            </div>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                <span class="icon"><i class="fab fa-searchengin text-white-50"></i></span>
                                <span class="text">Έλεγχος Φακέλου</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" data-toggle="modal" style="cursor: pointer"
                                   th:attr="data-target='#modal-run-characteristics-'+${imageDirectoryHash}">
                                    <span class="icon"><i class="fas fa-search text-gray-50"></i></span>
                                    <span class="text">Έλεγχος Χαρακτηριστικών</span>
                                </a>

                                <a class="dropdown-item" data-toggle="modal" style="cursor: pointer"
                                   th:attr="data-target='#modal-run-cloud-'+${imageDirectoryHash}">
                                    <span class="icon"><i class="fas fa-cloud text-gray-50"></i></span>
                                    <span class="text">Έλεγχος Νεφοκάλυψης</span>
                                </a>
                            </div>
                        </div>
                        <a type="button" id="downloadDirReport"
                           data-toggle="modal" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
                            <span class="icon"><i class="fas fa-file-export text-white-50"></i></span>
                            <span class="text">Αναφορά Φακέλου</span>
                            <span class="text">&nbsp;</span>
                        </a>
                        <button type="button"
                                data-toggle="modal" th:attr="data-target='#modal-clean-'+${imageDirectoryHash}"
                                class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">
                            <span class="icon"><i class="fas fa-eraser text-white-50"></i></span>
                            <span class="text">Διαγραφή Αποτελεσμάτων</span>
                        </button>
                    </div>

                    <div th:replace="fragments/modals :: modal-run(0,'characteristics', 'Έλεγχος Χαρακτηριστικών')"></div>
                    <div th:replace="fragments/modals :: modal-run(1,'cloud', 'Έλεγχος Νεφοκάλυψης')"></div>
                    <div th:replace="fragments/modals :: modal-clean"></div>
                </div>

                <!-- Content Row -->
                <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 mb-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Ορθοφωτοχάρτης</h6>
                                <div class="col mr-2">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <select id="imagelist" class="custom-select col-md-12" onchange="loadFile()"
                                                style="border-top-right-radius: 0; border-bottom-right-radius: 0">
                                            <option th:each="image : ${images}"
                                                    th:text="${image.name}" th:title="${image.name}"
                                                    th:value="${image.hash}" th:selected="${image.hash==file}">
                                                image
                                            </option>
                                        </select>
                                        <button class="btn btn-primary" onclick="showNextImage()">Επόμενη</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xxl-8 col-xl-8 col-lg-12 col-md-12 col-sm-12 mb-8">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">Αποτελέσματα Ελέγχων</h6>
                                                <div class="col-auto">
                                                    <div class="btn-group" role="group"
                                                         aria-label="image actions">
                                                        <a onclick="location.reload();" style="cursor: pointer">
                                                            <span class="icon">
                                                                <i class="fa-solid fa-sync"></i></span>
                                                            <span class="text"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div id="imageResultsBody">
                                                    <div class="media test-result" th:each="test : ${tests}"
                                                         th:classappend="'test-result-'+${test.id}">
                                                        <img th:src="@{/img/t1.png}" class="mr-3 result-value-true"
                                                             alt="..."
                                                             style="width: 50px">
                                                        <img th:src="@{/img/f1.png}" class="mr-3 result-value-false"
                                                             alt="..."
                                                             style="width: 50px">
                                                        <div class="media-body">
                                                            <h4 class="mt-0">
                                                                <span th:text="${test.name}">Έλεγχος</span>
                                                                <span class="result-value-true">Σωστό</span>
                                                                <span class="result-value-false">Λάθος</span>
                                                            </h4>
                                                            <p class="test-result-note">
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-8 text-center">
                                        <div class="row">
                                            <div class="col-xxl-6 col-xl-12 col-lg-6 col-md-12 col-sm-12">
                                                <div class="card shadow mb-4">
                                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                        <h6 class="m-0 font-weight-bold text-primary">Μικρογραφία</h6>
                                                        <div class="col-auto">
                                                            <div class="btn-group" role="group"
                                                                 aria-label="image actions">
                                                                <a data-toggle="modal"
                                                                   data-target="#modal-info-thumbnail"
                                                                   id="thumbnailInfoButton" style="cursor: pointer">
                                                                        <span class="icon">
                                                                            <i class="fa-solid fa-circle-info"></i></span>
                                                                    <span class="text"></span>
                                                                </a>
                                                                <div th:replace="fragments/modals :: modal-info-thumbnail"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <img src="" id="image-thumbnail" class="zoomable geothumb">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-xl-12 col-lg-6 col-md-12 col-sm-12">
                                                <div class="card shadow mb-4">
                                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                        <h6 class="m-0 font-weight-bold text-primary">Ιστόγραμμα</h6>
                                                        <div class="col-auto">
                                                            <div class="btn-group" role="group"
                                                                 aria-label="image actions">
                                                                <a data-toggle="modal"
                                                                   data-target="#modal-info-histogram"
                                                                   id="histogramInfoButton" style="cursor: pointer">
                                                                        <span class="icon">
                                                                            <i class="fa-solid fa-circle-info"></i></span>
                                                                    <span class="text"></span>
                                                                </a>
                                                                <div th:replace="fragments/modals :: modal-info-histogram"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <img src="" id="image-histogram" class="zoomable geothumb">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-xl-12 col-lg-6 col-md-12 col-sm-12">
                                                <div class="card shadow mb-4">
                                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                        <h6 class="m-0 font-weight-bold text-primary">Νεφοκάλυψη</h6>
                                                        <div class="col-auto">
                                                            <div class="btn-group" role="group"
                                                                 aria-label="image actions">
                                                                <a data-toggle="modal" data-target="#modal-info-cloud"
                                                                   id="cloudInfoButton" style="cursor: pointer">
                                                                        <span class="icon">
                                                                            <i class="fa-solid fa-circle-info"></i></span>
                                                                    <span class="text"></span>
                                                                </a>
                                                                <div th:replace="fragments/modals :: modal-info-cloud"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <img src="" id="image-cloudcover" class="zoomable geothumb">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-xl-12 col-lg-6 col-md-12 col-sm-12">
                                                <div class="card shadow mb-4">
                                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                        <h6 class="m-0 font-weight-bold text-primary">Ισορροπία
                                                            Χρώματος</h6>
                                                        <div class="col-auto">
                                                            <div class="btn-group" role="group"
                                                                 aria-label="image actions">
                                                                <a data-toggle="modal"
                                                                   data-target="#modal-info-color-balance"
                                                                   id="colorBalanceInfoButton" style="cursor: pointer">
                                                                        <span class="icon">
                                                                            <i class="fa-solid fa-circle-info"></i></span>
                                                                    <span class="text"></span>
                                                                </a>
                                                                <div th:replace="fragments/modals :: modal-info-color-balance"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <img src="" id="image-colorbalance" class="zoomable geothumb">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-xl-12 col-lg-6 col-md-12 col-sm-12">
                                                <div class="card shadow mb-4">
                                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                        <h6 class="m-0 font-weight-bold text-primary">
                                                            Μάσκα:&nbsp;
                                                            <a class="mask-link" onclick="showMask('NIR',this)"
                                                               style="cursor: pointer; color: #3a3b45">NIR</a>&nbsp;|&nbsp;
                                                            <a class="mask-link" onclick="showMask('NDWI',this)"
                                                               style="cursor: pointer; color: #3a3b45">NDWI</a>&nbsp;|&nbsp;
                                                            <a class="mask-link" onclick="showMask('BSI',this)"
                                                               style="cursor: pointer; color: #3a3b45">BSI</a>
                                                        </h6>
                                                        <div class="col-auto">
                                                            <div class="btn-group" role="group"
                                                                 aria-label="image actions">
                                                                <a data-toggle="modal" data-target="#modal-info-masks"
                                                                   id="maskInfoButton" style="cursor: pointer">
                                                                        <span class="icon">
                                                                            <i class="fa-solid fa-circle-info"></i></span>
                                                                    <span class="text"></span>
                                                                </a>
                                                                <div th:replace="fragments/modals :: modal-info-masks"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <img src="" id="image-masks" class="zoomable geothumb">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

            </div>

            <script th:inline="javascript">
                /*<![CDATA[*/
                const image_url = [[${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).API_IMAGE_DIRECTORY_IMAGE}]];
                const thumbnail_url = [[${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).API_THUMBNAIL_DIRECTORY_IMAGE}]];
                const histogram_url = [[${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).API_HISTOGRAM_DIRECTORY_IMAGE}]];
                const cloudcover_url = [[${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).API_CLOUD_COVER_DIRECTORY_IMAGE}]];
                const colorbalance_url = [[${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).API_COLOR_BALANCE_DIRECTORY_IMAGE}]];
                const nir_url = [[${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).API_NIR_DIRECTORY_IMAGE}]];
                const ndwi_url = [[${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).API_NDWI_DIRECTORY_IMAGE}]];
                const bsi_url = [[${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).API_BSI_DIRECTORY_IMAGE}]];
                const directoryReport_url = [[${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).API_DIRECTORY_REPORT_DOWNLOAD}]];
                const imageDirectoryHash = /*[[${imageDirectoryHash}]]*/ '';

                function showMask(mask, e) {
                    const maskImg = $("#image-masks");
                    maskImg.attr("src", "/img/loading.gif");
                    $(".mask-link").css('color', '#3a3b45');
                    const selected_image = $("#imagelist").val();
                    switch (mask) {
                        case 'NIR':
                            maskImg.attr("src", nir_url.replace("{imageDirectoryHash}", imageDirectoryHash).replace("{imageHash}", selected_image));
                            break;
                        case 'NDWI':
                            maskImg.attr("src", ndwi_url.replace("{imageDirectoryHash}", imageDirectoryHash).replace("{imageHash}", selected_image));
                            break;
                        case 'BSI':
                            maskImg.attr("src", bsi_url.replace("{imageDirectoryHash}", imageDirectoryHash).replace("{imageHash}", selected_image));
                            break;
                    }
                    $(e).css('color', '#4e73df');
                }

                /*]]>*/
                function loadFile() {
                    window.location = window.location.origin + window.location.pathname + "?dir=" + getUrlParameter("dir") + "&file=" + $("#imagelist").val();
                }

                function showNextImage() {
                    $('#imagelist option:selected').next().attr('selected', 'selected');
                    $('#imagelist').change();
                }

                function reloadFile() {
                    $("#image-thumbnail").attr("src", "/img/loading.gif");
                    $("#image-histogram").attr("src", "/img/loading.gif");
                    $("#image-cloudcover").attr("src", "/img/loading.gif");
                    $("#image-colorbalance").attr("src", "/img/loading.gif");
                    const selected_image = $("#imagelist").val();
                    $.get(image_url.replace("{imageDirectoryHash}", imageDirectoryHash).replace("{imageHash}", selected_image), function (data) {
                        $("#imageResultsBody .test-result").hide();
                        data.forEach(function (task) {
                            $("#imageResultsBody .test-result-" + task.task).show();
                            $("#imageName").text(`${task.name}`);
                            if (task.result) {
                                $("#imageResultsBody .test-result-" + task.task).find(".result-value-false").hide();
                                $("#imageResultsBody .test-result-" + task.task).find(".result-value-true").show();
                            } else {
                                $("#imageResultsBody .test-result-" + task.task).find(".result-value-true").hide();
                                $("#imageResultsBody .test-result-" + task.task).find(".result-value-false").show();
                            }
                            $("#imageResultsBody .test-result-" + task.task).find(".test-result-note").text(task.note);
                            $("#image-histogram").attr("src", histogram_url.replace("{imageDirectoryHash}", imageDirectoryHash).replace("{imageHash}", selected_image));
                        });
                        $("#image-thumbnail").attr("src", thumbnail_url.replace("{imageDirectoryHash}", imageDirectoryHash).replace("{imageHash}", selected_image));
                        $("#image-cloudcover").attr("src", cloudcover_url.replace("{imageDirectoryHash}", imageDirectoryHash).replace("{imageHash}", selected_image));
                        $("#image-colorbalance").attr("src", colorbalance_url.replace("{imageDirectoryHash}", imageDirectoryHash).replace("{imageHash}", selected_image));
                        showMask('NIR', $('.mask-link')[0]);
                    });
                }

                $(document).ready(function () {
                    connect();
                    reloadFile();
                    Zoom(".zoomable");
                });
                $(document).ready(function () {
                    $('#downloadDirReport').click(function () {
                        $($("#downloadDirReport span")[2]).html('<i class="fa-solid fa-spinner fa-spin"></i>');
                        fetch(directoryReport_url.replace("{imageDirectoryHash}", imageDirectoryHash))
                            .then((res) => {
                                window.report_name = res.headers.get('Content-Disposition').split("\"")[1];
                                return res.blob();
                            })
                            .then((data) => {
                                const a = document.createElement("a");
                                a.href = window.URL.createObjectURL(data);
                                a.download = window.report_name;
                                a.click();
                                $($("#downloadDirReport span")[2]).html('');
                            });
                    });
                });

            </script>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="fragments/base :: footer"></div>

    </div>
</div>
<th:block th:replace="fragments/base :: script"></th:block>

</body>
</html>
