<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon/favicon-16x16.png}">
    <link rel="icon" th:href="@{/img/favicon/favicon.ico}">

    <title th:text="${appName}">AppName</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.11.4/css/dataTables.bootstrap4.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/datatables-datetime/1.0.1/dateTime.css}"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.bootstrap4.min.css"/>
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.11.4/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/toastr/build/toastr.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid-xxl.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shepherd.js@8.3.1/dist/css/shepherd.css"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>

<block th:fragment="script">
    <script th:src="@{/js/download.min.js}"></script>
    <script th:src="@{/webjars/momentjs/min/moment.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/webjars/datatables-datetime/dateTime.js}"></script>
    <script th:src="@{/webjars/datatables-plugins/sorting/datetime-moment.js}"></script>
    <script th:src="@{/webjars/datatables-plugins/dataRender/datetime.js}"></script>
    <script th:src="@{/webjars/toastr/toastr.js}"></script>
    <script th:src="@{/js/jquery.spring-friendly.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/smooth-zoom/dist/zoom.browser.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/shepherd.js@8.3.1/dist/js/shepherd.min.js"></script>
    <script th:src="@{/js/app.js}"></script>
    <script type="text/javascript">
        $.fn.selectpicker.Constructor.BootstrapVersion = '5';

        function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
            return false;
        };
    </script>
</block>

<block th:fragment="footer">
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                    <span>
                        <span th:text="${bp.name}"></span>
                        &nbsp;
                        v<span th:text="${vp.buildVersion}"></span>
                        -
                        <span th:text="${vp.buildBranch}"></span>/<span th:text="${vp.buildCommit}"></span>
                        Copyright &copy; 2022
                    </span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
</block>
</body>
</html>
