<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head"></head>
<body>
<div th:fragment="modal-run" class="modal fade" th:id="'modal-run-'+${imageDirectoryHash}" tabindex="-1"
     aria-labelledby="runModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="runModalLabel" th:text="${imageDirectoryName}">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post"
                  th:action="${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).ACTION_RUN}">
                <div class="modal-body">
                    <input type="hidden" class="form-check-input" name="name" th:value="${imageDirectoryHash}"/>
                    <div class="form-group form-check" th:each="test : ${tests}">
                        <input type="checkbox" class="form-check-input" name="tasks"
                               th:id="'check-'+${test.name}+'-'+${imageDirectoryHash}" th:value="${test.id}"
                               th:checked="${test.enabled}" th:disabled="${!test.enabled}"/>
                        <label class="form-check-label" th:text="${test.name}"
                               th:attr="for='check-'+${test.name}+'-'+${imageDirectoryHash}">
                            Έλεγχος
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close</button>
                    <button type="submit" class="btn btn-primary">Εκτέλεση</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:fragment="modal-clean" class="modal fade" th:id="'modal-clean-'+${imageDirectoryHash}" tabindex="-1"
     aria-labelledby="cleanModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cleanModalLabel" th:text="${imageDirectoryName}">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post"
                  th:action="${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).ACTION_CLEAN}">
                <div class="modal-body">
                    Διαγραφή αποθηκευμένων αποτελεσμάτων;

                    <input type="hidden" class="form-check-input" name="name" th:value="${imageDirectoryHash}">
                    <div class="form-group form-check" th:each="test : ${tests}">
                        <input type="checkbox" class="form-check-input" name="tasks"
                               th:id="'clean-'+${test.name}+'-'+${imageDirectoryHash}" th:value="${test.id}"
                               th:checked="${test.enabled}">
                        <label class="form-check-label" th:text="${test.name}"
                               th:attr="for='clean-'+${test.name}+'-'+${imageDirectoryHash}">
                            Έλεγχος
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close</button>
                    <button type="submit" class="btn btn-primary">Διαγραφή</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:fragment="modal-delete-report(modalId)" class="modal fade" th:id="${modalId}" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Διαγραφή&nbsp;Αναφοράς&nbsp;
                    <span id="deleteReportId"></span></h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-xl-12 col-md-12 mb-12">
                    Είστε σίγουροι οτι θέλετε να διαγράψετε την παρακάτω
                    αναφορά;
                    <br/>
                    <br/>
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                         id="deleteReportName">
                                        Report Name
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"
                                         id="deleteReportDirectory">
                                        directory
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"
                                         id="deleteReportDate">
                                        directory
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-file-contract fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a type="button" class="btn btn-danger" onclick="deleteReportFromModal()">Διαγραφή</a>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const report_delete_url = [[${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).API_REPORT_DELETE}]];

        /*]]>*/
        function deleteReportFromModal() {
            let reportId = $($('#dataTable2 tbody tr.selected td')[0]).text();
            $.get(report_delete_url.replace("{reportId}", reportId), function (result) {
                location.reload();
            })
        }
    </script>
</div>

<th:block th:replace="fragments/base :: script"></th:block>
</body>
</html>
