<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head"></head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img th:src="@{/img/metis.png}" width="30" height="30" class="d-inline-block align-top" alt=""/>
            <span th:text="${appName}">AppName</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">
                        <span id="dot"
                              style="height: 15px;  width: 15px;  background-color: #bbb;  border-radius: 50%;  display: inline-block;"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        Θέσεις:
                        &nbsp;
                        <span id="pool-active" th:text="${pool.active}">0</span>
                        /
                        <span id="pool-max" th:text="${pool.max}">0</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        Ουρά:
                        &nbsp;
                        <span id="pool-pending" th:text="${pool.pending}">0</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Topbar -->
<nav th:fragment="navbar2" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <li class="nav-item no-arrow mx-1">
            <a class="nav-link">

            </a>
        </li>

        <li class="nav-item no-arrow mx-1">
            <a class="nav-link">
                <span id="dot-cloud"><i class="fa fa-cloud"></i></span>
            </a>
        </li>

        <li class="nav-item no-arrow mx-1">
            <a class="nav-link" style="color: #5a5c69; font-weight: bold">
                Μοντέλο:&nbsp;<span id="cloud-model"></span>
            </a>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <li class="nav-item no-arrow mx-1">
            <a class="nav-link">
                <span id="dot"><i class="fa fa-cogs"></i></span>
            </a>
        </li>

        <li class="nav-item no-arrow mx-1">
            <a class="nav-link" style="color: #5a5c69; font-weight: bold">
                Ουρά:&nbsp;&nbsp;
                <span id="pool-active" th:text="${pool.active}">0</span>
                /
                <span id="pool-max" th:text="${pool.max}">0</span>
            </a>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                &nbsp;
                <span class="badge badge-info" th:classappend="${u.local ? '':'ldapuser'}"
                      th:text="${u.local? 'local':'AD'}">local</span>
                &nbsp;
                <span class="mr-2 d-none d-lg-inline" style="color: #5a5c69; font-weight: bold"
                      th:text="${u.username}"></span>

                <div id="usernameIcon" class="img-profile rounded-circle" data-initials=""></div>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    const username = [[${u.name}]];
                    /*]]>*/

                    $(document).ready(function () {
                        let parts = username.split(" ");
                        let initials = ""
                        for (let i in parts) {
                            initials += parts[i].charAt(0);
                        }
                        $("#usernameIcon").attr("data-initials", initials);
                    });
                </script>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" th:href="@{/user}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    <span th:text="${u.name}"></span>
                </a>
                <a th:if="${u.local}" class="dropdown-item" href="#" data-toggle="modal"
                   data-target="#changePasswordModal">
                    <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                    <span>Αλλαγή Κωδικού</span>
                </a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    <span>Αποσύνδεση</span>
                </a>
            </div>
        </li>

    </ul>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Αποσύνδεση;</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Επιλέξτε "Αποσύνδεση" για να τερματίσετε τη σύνδεσή σας στο σύστημα Metis.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Ακύρωση</button>
                    <a class="btn btn-primary" href="/do_logout">Αποσύνδεση</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Logout Modal-->
    <div th:if="${u.local}" class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog"
         aria-labelledby="changePasswordModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordModalLabel">Αλλαγή Κωδικού Πρόσβασης</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form class="form-horizontal" method="post" action="/change-password">
                    <div class="modal-body">
                        <div class="col-xl-12 col-md-12 mb-12">
                            <input class="form-control" name="username" type="hidden" th:value="${u.username}"/>
                            <div class="form-group">
                                <label for="oldPassword">Τρέχων Κωδικός Πρόσβασης</label>
                                <input class="form-control" name="oldPassword" type="password" id="oldPassword"
                                       required/>
                            </div>
                            <div class="form-group">
                                <label for="newPassword">Νέος Κωδικός Πρόσβασης</label>
                                <input class="form-control" name="newPassword" type="password" id="newPassword"
                                       required/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-info" value="Αλλαγή"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {
            if (getUrlParameter('successMessage')) {
                toastr.options.positionClass = 'toast-top-full-width';
                toastr.success(translate(getUrlParameter('successMessage')));
            }
        });
        $(document).ready(function () {
            toastr.options.positionClass = 'toast-top-full-width';
            if (getUrlParameter('errorMessage')) {
                toastr.error(translate(getUrlParameter('errorMessage')));
            }
        });
    </script>

</nav>
<!-- End of Topbar -->
<!-- Sidebar -->
<ul th:fragment="sidebar2" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-text mx-3">
            <img th:src="@{/img/metis.png}" width="100" height="100" class="d-inline-block align-top" alt=""/>
            <span th:text="${appName}">AppName</span>
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Reports -->
    <li class="nav-item" th:classappend="${#request.requestURI=='/' ? 'active':''}">
        <a class="nav-link" href="/">
            <i class="fas fa-file-contract"></i>
            <span>Αναφορές</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item"
        th:classappend="${#request.requestURI.startsWith('/view') ? 'active':''}">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseDirs" aria-expanded="true"
           aria-controls="collapseTwo">
            <i class="fas fa-folder"></i>
            <span>Φάκελοι</span>
        </a>

        <div id="collapseDirs" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar"
             style="">
            <div class="bg-white py-2 collapse-inner rounded">
                <th:block th:each="imageDirectory: ${imageDirectories}">
                    <a class="collapse-item"
                       th:classappend="${imageDir !=null && imageDirectory.name==imageDir}?'active':''"
                       th:href="'/view?dir='+${imageDirectory.hash}"
                       th:text="${imageDirectory.name}" style="overflow: hidden" th:title="${imageDirectory.name}">
                        DirName
                    </a>
                </th:block>
            </div>
        </div>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <script th:inline="javascript">
            /*<![CDATA[*/
            const image_scan_url = [[${T(com.amaxilatis.metis.server.web.controller.ApiRoutes).API_SCAN_IMAGES}]];

            /*]]>*/
            function updateFiles() {
                $.get(image_scan_url, function (result) {
                    location.reload();
                });
            }
        </script>
        <button class="rounded-circle border-0" id="sidebarToggle" onclick="updateFiles()" title="Ανανέωση Εικόνων">
        </button>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Settings -->
    <li class="nav-item" th:classappend="${#request.requestURI=='/settings' ? 'active':''}">
        <a class="nav-link" href="/settings">
            <i class="fas fa-cogs"></i>
            <span>Ρυθμίσεις</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/files/metis.pdf}">
            <i class="fas fa-book"></i>
            <span>Οδηγίες Χρήσης</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">


</ul>
<!-- End of Sidebar -->

<th:block th:replace="fragments/base :: script"></th:block>

</body>
</html>
